@import "vendor/lesshat.less";

html, body {
    height: 100%; /* make the percentage height on placeholder work */
}
h1 {
    font-size:170px;
    line-height: 180px;
    &.days-left { margin-top: 30px; }
}
hr {
    border: 0;
    width: 70%;
    color: #CCC;
    background-color: #CCC;
    height: 2px;
    margin-top: 60px;
}

#layout {
    width: 100%;
    height: 100%;
    td { vertical-align: top; }
    #left {
        padding-left: 30px;
        width: 23%;
    }
    #center { width: 52%;
        #chart { height: 95%; }
    }
    #right {
        width: 25%%;
        padding-right: 30px;
    }
}

/* Summary styles */
#summary {
    p {
        color: #888;
        font-size: 40px;
        line-height: 45px;
        &.caption {
            color: #888;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 28px;
            &.milestones {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    #progress {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 68%;
        height:20px;
        background-color:rgba(0,0,0,0.15);
        padding:3px;
        .border-radius(5px);
        .box-shadow(~"0 1px 5px #000 inset, 0 1px 0 #fff");
        span {
            display:block;
            height:20px;
            width: 60%;
            .border-radius(3px);
            .box-shadow(~"0 1px 0 rgba(255, 255, 255, .5) inset");
            background: #a90329; /* Old browsers */
            .gradient(~"linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%)");
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
            &.passing {
                background: #448e44; /* Old browsers */
                .gradient(~"linear-gradient(to bottom, #448e44 0%,#34632a 100%)");
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#448e44', endColorstr='#34632a',GradientType=0 ); /* IE6-9 */
            }
        }
    }
}

/* Leaderboard */
#leaderboard {
    @height: 40px;
    .user {
        padding: 8px 0;
        border-top: thin solid #ddd;
        &:first-child { border-top: none; }
        .user-details { 
            min-height: @height;
            margin-left: @height + 10px;
        }
        p {
            font-size: 14px;
            color: #444;
            margin-bottom: 0;
            text-overflow: ellipsis;
            vertical-align: top;
            &.middle { line-height: @height; }
            &.name { font-weight: bold; }
            &.open-closed { float: right; }
            &.project {
                font-style: italic;
                margin-top: 2px;
            }
        }
        img {
            float: left;
            width: @height;
            height: @height;
            margin-right: 10px;
            border: thin solid #ccc;
        }
    }
}
