<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
        <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet" />
        {% assets "countdown_css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
        {% assets "vendor_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "countdown_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body>
        <table style="width:100%; height: 100%;"><tbody><tr>
            <td id="left" style="width:23%;vertical-align:top;">
                <h1 class="open-issues"></h1>
                <p>open issues</p>
                <h1 class="days-left"></h1>
                <p>days left</p>
                <hr />
                <div id="progress"><span></span></div>
                <div id="progress-caption">
                    <span class="open-issues"></span>
                    open /
                    <span class="closed-issues"></span>
                    closed
                </div>
            </td>
            <td id="right" style="width:77%;">
                <div id="chart" style="height: 95%;"></div>
            </td>
        </tr></tbody></table>
    </body>
</html>
