<!doctype html>
<html>
    <head>
        <title>Countdown</title>
        <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet" />
        {% assets "countdown_css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" />
        {% endassets %}
        {% assets "vendor_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "countdown_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% raw %}
        <script id="summary-template" type="text/x-handlebars-template">
            <h1 class="open-issues">{{open_issues}}</h1>
            <p>open {{inflect open_issues "issue" "issues"}}</p>
            <h1 class="days-left">{{days_left}}</h1>
            <p>{{inflect days_left "day" "days"}} left</p>
            <hr />
            <!--
            <div id="progress"><span style="width:{{progress_percent}}%;"></span></div>
            <p class="caption">{{open_issues}} open / {{closed_issues}} closed</p>
            -->
            <p class="caption">{{num_passing}} passing / {{num_failing}} failing</p>
            <div id="progress"><span class="{{#if tests_passing}}passing{{/if}}" style="width:{{tests_percent}}%;"></span></div>
            <p class="caption milestones">Milestones: {{comma_separated milestones}}</p>
        </script>
        <script id="leaderboard-template" type="text/x-handlebars-template">
            <h3>Hall of Shame</h3>
            {{# if users}}
                <div class="users">
                {{#each users}}
                    <div class="user">
                        <img src="{{owner_avatar_url}}" />
                        <div class="user-details">
                            <p class="open-closed{{#unless owner_project}} middle{{/unless}}">{{open_issues}} open / {{closed_issues}} closed</p>
                            <p class="name{{#unless owner_project}} middle{{/unless}}">{{owner}}</p>
                            {{#if owner_project}}<p class="project">{{{owner_project}}}</p>{{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/if}}
        </script>
        {% endraw %}
    </head>
    <body>
        <table id="layout"><tbody><tr>
            <td id="left"><div id="summary"></div></td>
            <td id="center"><div id="chart"></div></td>
            <td id="right"><div id="leaderboard"></div></td>
        </tr></tbody></table>
    </body>
</html>
